{% extends 'page_pattern.html' %}
{% load static %}

{% block content%}
      <div class="card-body text-center">
        <div class="card">
          <div class="card-header d-flex flex-row justify-content-between ch-in">
              <h3 class="text-center">Удаление задачи</h3>
          </div>
          <div class="card-body cb">
              <p class="card-text"><i>Вы уверены,что хотите удалить задачу:</i> <span class="task-title">{{ task.task_title }}</span></p>
          </div>
          <div class="card-footer d-flex flex-row justify-content-end">
              <div><a class="btn btn-success mr-3" href="{% url 'task-detail' task.id %}">Нет, отменить</a></div>
              <div><a class="btn btn-danger" href="{% url 'task-delete' task.id %}">Да, удалить</a></div>
          </div>
        </div>
      </div>
{% endblock %}



