{% extends 'page_pattern.html' %}
{% load static %}

{% block content %}
     <div class="card-header ch">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link nl-active">Все задачи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" href="{% url 'task-add' %}">Добавить задачу</a>
          </li>
        </ul>
     </div>
      <div class="card-body ">
      {% include 'nav_bar.html' %}
          <br>
        {% if tasks %}
            <ul>
          {% for task in tasks %}
              <li>
                    <div class="card mr-5">
                      <div class="card-header ch-in">
                          <input type="checkbox" name="check-list">
                      <div class="d-flex justify-content-between">
                      <div><b>Статус:</b>
                            {{ task.get_status_display }}
                      </div>
                      <div>
                        {% if task.deadline %}
                        <p>Выполнить до:
                        <b>
                        {{ task.deadline }}
                        {% else %}
                        {{ '.....' }}
                        {% endif %}
                        </b>
                        </p>
                      </div>
                      </div>
                      </div>
                      <div class="card-body">
                        <p class="card-text"><i>{{ task.task_title | truncatewords_html:3 }}</i></p>
                        <a class="detail-link-2" href="{% url 'task-detail' task.id %}">Подробнее...</a>
                      </div>
                    </div>
              </li>
                  <br>
          {% endfor %}
        {% else %}
            </ul>
            <h3>{{ 'Пусто' }}</h3>
        {% endif %}
      </div>
{% endblock %}