{% extends 'page_pattern.html' %}

{% block content %}
    <div class="card text-center mx-auto" style="width: 70%;">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Текущие задачи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/">Добавить новую</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
          {% for task in tasks %}
        <p>Статус: {{ task.status }}</p>
        <p>Выполнить до: {{ task.deadline }}</p>
          <hr>
        <p class="card-text"><b>Задача: </b><i>{{ task.description }}</i></p>
          <hr>
          {% endfor %}
      </div>
    </div>
{% endblock %}