{% extends 'page_pattern.html' %}
{% load static %}

{% block content %}
     <div class="card-header ch">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link nl" href="{% url 'task-list' %}">Все задачи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" href="{% url 'task-add' %}">Добавить задачу</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl-active">Задача</a>
          </li>
        </ul>
     </div>
      <div class="card-body ">
        {% if task %}
                <div class="card">
                  <div class="card-header d-flex flex-row justify-content-between ch-in">
                  <div>
                   <b>Статус:</b>
                        {{ task.get_status_display }}
                  </div>
                    <div>
                        {% if task.deadline %}
                        Выполнить до:
                        <b>{{ task.deadline }}

                        {% else %}
                        {{ '.....' }}
                        {% endif %}
                        </b>
                    </div>
                  </div>
                  <div class="card-body">
                      <p class="card-text"><i>{{ task.task_title }}</i></p>
                      {% if task.full_description %}
                          <hr>
                        <p class="card-text"><i>{{ task.full_description }}</i></p>
                      {% endif %}
                  </div>
                  <div class="card-footer text-right">
                  <a class="btn btn-secondary" href="{% url 'task-delete' task.id %}">Удалить</a>
                  </div>
                </div>
                  <br>
        {% else %}
            <h3>{{ 'Пусто' }}</h3>
        {% endif %}
      </div>
{% endblock %}

