{% csrf_token %}

{% for error in form.non_field_errors %}
   <p class="form-error">{{ error }}</p>
{% endfor %}


{% for field in form %}
<div class="form-group row">
    <label class="col-sm-3 col-form-label label">{{ field.label }}:</label>
    <div class="col-sm-9 {% if field.errors %} form-field-error {% endif %}">
    {{ field }}
    {% if field.label == 'Выполнить до' %}
        <small class="form-text text-muted">
         Введите дату в формате ГГГГ-ММ-ДД.
        </small>
    {% endif %}
    {% for error in field.errors %}
        <p class="form-error form-text">
          {{ error }}
        </p>
    {% endfor %}
    </div>
</div>
{% endfor %}
<hr>
<div class="text-center"><input type="submit" value="{{ btn_value }}"/></div>